/.vscode
/Airfoil1.txt
/airfoil_analysis (1).pdf
/CodeingStyle_Efficiency.docx
/ComputationalAirfoils.pdf
/HourTrackerLink.txt
/Plot1.png
/Practice1.jl
/undergrad-onboarding-master
/undergrad-onboarding-master.zip
/VortexSimulator.jl